# zsh
.zshrc.local
.zsh_history
.zsh_sessions/
.zcompdump*

# unison
.unison/*
!.unison/*.prf

# neovim / vim
packer_compiled.lua
*.swp
*.swo
*~
.*~
Session.vim
.netrwhist
tags
TAGS

# vscode
Code/
!Code/User/keybindings.json
!Code/User/settings.json

# copyq
cinnamon/.config/copyq/copyq.pub

# python
__pycache__/
*.pyc
*.pyo
*.pyd

# system & logs
.DS_Store
*.log
cinnamon/.config/cinnamon/spices/qredshift@quintao/qredshift@quintao.json
cinnamon/.config/cinnamon/spices/qredshift@quintao/qredshift@quintao.json
common/.unison/ar*
common/.unison/fp*
cinnamon/.config/cinnamon/spices/qredshift@quintao/qredshift@quintao.json
__pycache__/
*.pyc
common/.config/vicinae/settings.json
