# zsh
.zshrc.local
.zsh_history
.zsh_sessions/
.zcompdump*

# unison
.unison/*
!.unison/*.prf

# neovim / vim
packer_compiled.lua
*.swp
*.swo
*~
.*~
Session.vim
.netrwhist
tags
TAGS

# vscode
Code/
!Code/User/keybindings.json
!Code/User/settings.json

# copyq
cinnamon/.config/copyq/copyq.pub

# python
__pycache__/
*.pyc
*.pyo
*.pyd

# system & logs
.DS_Store
*.log
